{% load static %}

<!DOCTYPE html>


<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Hello, World!| Blog travel blog where you can share your tips and moments" />
    <meta name="keyword" content="travel, blog, food, countries, holidays, homecation" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Font-Awesome-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--Boostrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>{% block title %}Travel, World!| Blog!{% endblock %}</title>

  </head>
  
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">Hello World Blog!</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <!---Account  Menu Code-->
            {% if caty_menu %}
            
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ user.first_name }} {{ user.last_name }}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% if user.profile.user %}
                    <li><a class="dropdown-item" href="{% url 'edit_profile' %}">Account Settings</a></li>
                    <li><a class="dropdown-item" href="{% url 'edit_profile_page' user.profile.id %}">Edit Profile Page</a></li>
                    <li><a class="dropdown-item" href="{% url 'show_profile_page' user.profile.id %}">Profile Page</a></li>
                    <li><a class="dropdown-item" href="{% url 'create_profile_page'%}">Create Bio Page</a></li>
  
                  {% endif %}
                </ul>
              </li>
            
            {% endif %}
            {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'post' %}">Post your message</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'create_category' %}">Create New Category</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
              </li>
             {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Register Now</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Sign in</a>
              </li>
            {% endif %}
            
            
          </ul>
        </div>
      </div>
    </nav>

   
   
   {% block content %}

   {% endblock %}
        <!---Footer-->
        <!--end footer-->
 </body>

 
 <!-- Popper -->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</html>

