{% load static %}

<!DOCTYPE html>
<html class="h-100">


<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Hello, World!| Blog travel blog where you can share your tips and moments" />
    <meta name="keyword" content="travel, blog, food, countries, holidays, homecation" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Font-Awesome-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>Hello, World!| Blog</title>

    </script>


    <title>{% block title %}Hello world Blog!{%endblock%}</title>
    

  </head>
  <body>
    <!--Nav starts-->
    <header>
        <div class="container header">
            <a href="{% url 'index' %}" class="logo">Travel, World!| Blog<span>.</span></a>
            <div class="menuToggle">
                  <i class="fas fa-bars"></i>
            </div>
            {% if caty_menu %}
            <ul class="navigation">
                <li class="active"><a href="{% url 'register' %}">Register Now</a></li>
                <li><a href="{% url 'login' %}">Sign in</a></li>
            {% endif %}
            {% if user.is_authenticated %}
                <li><a href="{% url 'post' %}">My Post</a></li>
                <li><a href="{% url 'create_profile_page'%}">Create Bio</a></li>
                <li><a href="{% url 'show_profile_page' user.profile.id %}">Profile Page</a></li>
                <li><a href="{% url 'edit_profile_page' user.profile.id %}">Edit Profile Page</a></li>
                <li><a href="{% url 'edit_profile' %}">Account Settings</a></li>
            {% endif %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
                
            </ul>
          </div>
    </header>
    <!--Nav end-->


    <!--main content -->

    <div class="container main">
        <!--column1 -->
       <div class="col">
        {% for post in object_list %}
              <div class="post">
                  <img class="post-img" src="{% static 'img/travel02.jpg'%}" alt=""/>
  
                  <div class="post-info">
                      <h2><a href="{% url 'details-article' post.pk %}">{{ post.title }}</a></h2>
                      <div class="user-info">
                          <img src="{% static 'img/profilepicture.jpg'%}" alt="">
                          <span>{{ post.author.first_name }}  {{ post.author.last_name}}</span>
                          <span><a class="py-2 px-3 mb-2"><i class="mr-2 fa fa-calendar" aria-hidden="true"></i> {{ post.publish_date }}</a></span>
                          <span><a href="{% url 'details-article' post.pk %}" > {{ post.title }}</a></span>
                      </div>
  
                      <p>lorem lorem loremlorem lorem loremlorem lorem loremlorem lorem lorem
                      lorem lorem loremlorem lorem loremlorem lorem lorem
                  </p>
                  </div>
              </div>
          {% endfor %}
       </div>
       <!--column2-->
       <div class="col">
          <div class="post">
              <img class="post-img" src="{% static 'img/travel02.jpg'%}" alt=""/>

              <div class="post-info">
                  <h2>{{ post.title }}</h2>
                  <div class="user-info">
                      <img src="{% static 'img/profilepicture.jpg'%}" alt="">
                      <span>User Name</span>
                      <span>Date 1.2021</span>
                      <span>Category</span>
                  </div>

                  <p>lorem lorem loremlorem lorem loremlorem lorem loremlorem lorem lorem
                  lorem lorem loremlorem lorem loremlorem lorem lorem

                  lorem lorem loremlorem lorem loremlorem lorem loremlorem lorem lorem
                  lorem lorem loremlorem lorem loremlorem lorem loremlorem lorem loremlorem lorem loremlorem lorem loremlorem lorem lorem
                  lorem lorem loremlorem lorem loremlorem lorem lorem
                  lorem lorem loremlorem lorem loremlorem lorem loremlorem lorem lorem
                  lorem lorem loremlorem lorem loremlorem lorem lorem
              </p>
              </div>
          </div>
       </div>

    </div>
    <!--End main content -->
  
  <!--Start Footer -->
    <footer>
        <div class="container footer">
            <p>Designed by Arthur Neto © 2022</p>
        </div>
    </footer>
  <!--End Footer -->

  <script src="./js/script.js"></script>
  </body>


</html>