{% extends 'base.html' %}
{% block title %} {{ caty }}{% endblock%}
{% block content %}

{% if category_posts %}
<div class="category-page bg-generic">
    <div class="category-title">
        <h2 class="page-title">{{ caty }}</h2>
    </div>
    <div class="container-fluid">
        <div class="row">
            {% for post in category_posts %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body md">
                        <div class="image-container">
                            {% if "placeholder" in post.header_img.url %}

                            <img class="card-img-top"
                                src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg"
                                alt="picture">

                            {% else %}

                            <img class="card-img-top" src=" {{ post.header_img.url  }}" alt="cover-pic">

                            {% endif %}
                            <div class="image-flash p-2">
                                <br>
                                <a href="{% url 'details_article' post.pk %}"><h2 class="card-title">{{ post.title }}</h2></a>
                                <p class="author">Author: {{ post.author }}</p>
                                <div class="card-text">{{ post.body|slice:":200"|safe }}</div>
                                <hr />
                                <p class="card-text text-muted h6">Created on {{ post.publish_date}}</p>
                                

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class="row">
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% else %}
 <div class="not-img">
    <div class="not-allowed">
        <div class="not-loggedin">
            <p>This category has no posts.</p>
            <p><a href="{% url 'post' %}" class="btn submit-comment btn-submit">Add Post
            </a></p>
     </div>
 </div>
 </div>
</div>
{% endif %}
{%endblock%}
