{% extends 'base.html' %}

{% block content %}

{% if category_posts %}
        <h1>{{ caty }}</h1>

        <ul>
            {% for post in category_posts %}
            <li><a href="{% url 'details-article' post.pk %}">
                {{ post.title }} </a>
                -{{ post.author.first_name }} {{ post.author.last_name }}-{{ post.publish_date }}

                {% if user.is_authenticated %}
                    <small><a href="{% url 'update_post' post.pk %}">(Edit) </small></a>

                    <small><a href="{% url 'post_delete' post.pk %}">(Delete)</a>
                {% endif %}

                </small><br/>
                {{ post.body|slice:":150"|linebreaks  }}
            </li>
        </ul>
{% endfor %}

{% else %}
 <h2> Page doesnt exist </h2>
{% endif %}


{% endblock %}