{% extends 'base.html' %}
{% block title %} Comment {% endblock%}
{% block content %}


<div class ="edit-background">
{% if user.is_authenticated %}
       <div class="form-edit-acc">
           <div class="form-box-edit bg-dark text-white">
               <h1 class="page-title"> Comment Section</h1>
               <div class="mb-3">
                   <form method="POST">
                       {% csrf_token %}
                       {{ form.as_p }}
                       <div class="form-btn">
                           <button class="btn btn-edit">Post</button>
                       </div>
                   </form>
               </div>
           </div>
       </div>
   
    {% else %}
    <!-- If the user try to use this page without being logged in, below message will be displayed -->
    <div class="not-allowed">
        <div class="not-loggedin">
            <p>You need to login to be able to add a category</p>
            <p><a href="{% url 'login' %}">Login Here</a></p>
        </div>
    </div>
</div>

{% endif %}


{% endblock %}