{% extends 'base.html' %}
{% block title %} Comment {% endblock%}
{% block content %}

{% if user.is_authenticated %}
<div class ="edit-background">
       <div class="form-edit-acc">
           <div class="form-box-edit bg-dark text-white">
               <h1 class="page-title"> Comment Section</h1>
               <div class="mb-3">
                   <form method="POST">
                       {% csrf_token %}
                       {{ form.as_p }}
                       <div class="form-btn">
                           <button class="btn btn-edit">Post</button>
                       </div>
                   </form>
               </div>
           </div>
       </div>
   
    {% else %}
    <!-- If the user ended up in this page without being logged in, a message will be displayed -->
    <div class="not-allowed">
        <div class="not-loggedin">
            <p>You must be <a href="{% url 'login' %}">logged in</a> to post a comment.</p>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}