{% extends 'base.html' %}
{% block title %} Comment {% endblock%}
{% block content %}


<div class ="edit-background">
{% if user.is_authenticated %}
       <div class="form-edit-acc">
           <div class="form-box-edit bg-dark text-white">
               <h1 class="page-title"> Comment Section</h1>
               <div class="mb-3">
                   <form method="POST">
                       {% csrf_token %}
                       {{ form.as_p }}
                       <div class="form-btn">
                           <button class="btn btn-edit">Post</button>
                       </div>
                   </form>
               </div>
           </div>
       </div>
   
    {% else %}
    <!-- The below message will be displayed if user is not logged-->
<div class="not-img">
    <div class="not-allowed">
        <div class="not-loggedin">
            <p>You need to login to be able to add a comment</p>
            <p><a href="{% url 'login' %}" class="btn submit-comment btn-submit">Login
            </a></p>
        </div>
    </div>
    </div>
</div>

{% endif %}


{% endblock %}