{% extends 'base.html' %}
{% load static %}
{% block title %} Add category{% endblock%}
{% block content %}


{% if user.is_authenticated %}
<div class="backgr-ct">
    <div class="forms-cat">
        <div class="category-add">
            <h2 class="category-title">Add Category</h2>
            <div class="form-group form-categories">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="btn-cat">
                        <button type="submit" class="btn-category">Submit</button>
                    </div>
                </form>
            </div>

            {% else %}
            <!-- The below message will be displayed  if user is not logged in-->
            <div class="not-allowed">
                <div class="not-loggedin">
                    <p>You need to login to be able to add a category</p>
                     <p><a href="{% url 'login' %}" class="btn submit-comment btn-submit">Login
                        Page</a></p>
                </div>
            </div>
            {% endif %}
        </div>
        
    </div>
   
</div>


{% endblock %}