{% extends 'base.html' %}

{% block title %} Create a New Blog Category {% endblock %}
{% block content %}

{% if user.is_authenticated %}
<div class="backgr-ct">
       <div class="forms-cat">
              <div class="form-box-1">
                     <h2 class="page-title"> New Blog Category</h2>
                     <div class="mb-3">
                            <form method="POST">
                                   {% csrf_token %}
                                   {{ form.as_p }}
                                   <div class="form-btn">
                                          <button class="btn-category">Post</button>
                                   </div>
                            </form>
                     </div>
              </div>
       </div>

       {% else %}
       <div class="not-allowed">
              <div class="not-loggedin">
                     <p>Please register now or Login</p>
              </div>

       </div>
</div>
 {% endif %}

{% endblock %}