{% extends 'base.html' %}
{% load static %}
{% block title%} {{ post.title_tag }}{% endblock %}

{% block content %}
<!--Body Section-->
  <div class="container my-3 my-sm-5">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-8">
            <h2 class="text-setion">{{ post.title }}</h2>
            
            <div class ="mb-3">
                {% if "placeholder" in post.header_img.url %}
                            <a href="{% url 'details_article' post.pk  %}" class="post-link"><img class="card-img-top"
                             src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" alt="default profile image"></a>
                            {% else %}
                             <img src="{{ post.header_img.url }}" alt="picture" class="img-fluid mb30">
                            {% endif %}
                <div class="mb-2">
                    <a href="#" class="badge badge-pill badge-cate">Category</a>
                    <div>
                        <div class="sub-title">Author Name: {{ post.author.first_name }}  {{ post.author.last_name}}</div>
                        <div class="small">Posted on: {{ post.publish_date }}</div>
                    </div>
                </div>
                <div class="lead">{{ post.body|safe }}</div>
                {% if user.is_authenticated %}
                    {% if user.id == post.author.id %}
                    <ul class="post-tag list-inline">
                        <li class="list-inline-item"><i class="fa fa-pencil"></i><a href="{% url 'update_post' post.pk %}" class="scmedia">Edit</a></li>
                        <li class="list-inline-item"><i class="fa fa-trash-o"></i><a href="{% url 'post_delete' post.pk %}" class="scmedia">Delete</a></li>
                    {% endif %}
                    <div class="list-inline-item p-5">
                        <form action="{% url 'post_like' post.pk %}" method="POST">
                        {% csrf_token %}
                        {% if user.is_authenticated %}
                        {% if liked %}
                        <button type="submit" name="post_id" value="{{ post.id }}" class="like-btn1"><i class="fa fa-thumbs-o-up"></i></button>
                        {{ total_likes }}</button>
                        {% else %}
                        <button type="submit" name="post_id" value="{{ post.id }}" class="like-btn2"><i class="fa fa-thumbs-down"></i>
                        {{ total_likes }}</button>
                        {% endif %}
                        {% endif %}
                       </form>
                    </div>
                {% endif %}
                </div>
            <br/><br/>
            <hr class="mb40">
            <br/><br/>
          
        </div>
        <!---End of the main body-->
        <!--Asides Section-->
<div class="col-12 col-md-6 p-5 col-lg-4">
<aside>
  <!---Side Column-->
  <div class="list-group mb-3 p-2">
        <div class="p-2">
            <div class="card">
                {% if "placeholder" in post.author.profile.profile_picture.url %}
                
                <img src="{{post.author.profile.profile_picture.url}}" alt="profile pic">
                {% else %}
                <img src="{{post.author.profile.profile_picture.url}}" alt="profile pic">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ post.author.first_name }} {{ post.author.last_name}}</h5>
                    <p class="card-text">{{post.author.profile.bio}}</p>
                    <p class="small text-muted">
                        {% if post.author.profile %}
                        <a href="{% url 'show_profile_page' post.author.profile.id %}"><i class="fa fa-user" aria-hidden="true"></i></a> |
                        {% endif %}
                        {%if post.author.profile.facebook_url %}
                        <a href="{{post.author.profile.facebook_url}}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a> |
                        {% endif %}
                        {%if post.author.profile.instagram_url %}
                        <a href="{{post.author.profile.instagram_url}}" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a> | 
                        {% endif %}
                        {%if post.author.profile.twitter_url %}
                        <a href="{{post.author.profile.twitter_url}}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a> |
                        {% endif %}     
                        {%if post.author.profile.website_url %}
                        <a href="{{post.author.profile.website_url}}" target="_blank"><i class="fa fa-rss-square" aria-hidden="true"></i></a> |
                    {% endif %} 
                    </p>  
                </div>
            </div>
        </div>
      
    </div>
  
  <h5 class="card-category">Categories</h5>
  <div class="list-group mb-3">
      <div class="list-category">
      {% for item in caty_menu %}
      <a href="{% url 'category' item %}" class="list-group-item list-group-item-action text-black bg-light">
         <ul>
           <li class="list-content">{{ item }}</li>
         </ul>
      </a>
      {% endfor %}
    </div>
  </div>
  <!---About the Blog-->
  
  <div class="card mb-3">
      <div class="card-body">
          <h5 class="card-title">About What a trip | Blog</h5>
          <p class="card-text main-title">I always thought about what it would be like to travel the world or live traveling, exploring every corner of the planet, without being stuck in an office.</p>
          <p>And I've always had some dream destinations, places I've dreamed or dreamed of going to since I was a child, but I confess that I've spent a good part of my life living the dreams of others,</p>
           <p>getting to know the favorite destinations of other destinations. This blog you also help you with your dreams.</p>
          
      </div>
  </div>
</aside>
</div>

  <div class="comment-bttm-box">
    <div class="container mt-5">
        <h2 class="comment-header p-3">Comments</h2>
        <hr class="mb40"><br/>
    {% if not post.comments.all %}
    <p class="mt-2 text-center">No Comment Yet <a href="{% url 'add_your_comments' post.pk  %}" class="btn submit-comment btn-submit">Add
        comment</a></p>
    {% else %}
        <div class="d-flex justify-content-center row">
            <div class="col-md-8">
                <div class="d-flex flex-column comment-section">
                    <div class="bg-white p-2">
                        {% for comment in post.comments.all %}
                        <div class="d-flex flex-row user-info">
                            <div class="d-flex flex-column justify-content-start ml-2"><span class="d-block font-weight-bold name">{{comment.name }}</span><span class="date text-black-50">Shared publicly - {{ comment.date_added }}</span></div>
                        </div>
                        <div class="mt-2">
                            <p class="comment-text">{{ comment.body }}</p>
                        </div>
                    </div>
                    {% endfor %}
                    <br>
                    <p class="mt-2 text-center"><a href="{% url 'add_your_comments' post.pk  %}" class="btn submit-comment btn-submit">Add
                        comment</a></p>
                    
                </div>
            </div>
            <br><br/>
            {% endif %}
        </div>
    </div>

    </div>
</div>
{% endblock %}
