{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="py-5 text-center container">
    <div class="row py-lg-5">
         <div class="col-lg-6 col-md-8 mx-auto">
              <h1 class="fw-light">Share your Adventure Moments!</h1>
              <p class="lead text-muted">With Hello World Blog! you can share your moments worldwide...</p>
             <div class="d-grid gap-2 col-6 mx-auto">
                <a href="{% url 'create_category' %}" class="btn-primary" >Create New Category</a>
                <a href="{% url 'post' %}" class="btn-secondary">Post your message</a>
            </div>
         </div>
    </div>
</div>


<!--Card Post Layout-->

<div class="album py-5 bg-light">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

          <div class="card-body">
            <p class="card-text">text here</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <a class="py-2 px-3 mb-2" href="#"><i class="mr-2 fa fa-calendar" aria-hidden="true"></i> 15 march </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

          <div class="card-body">
            <p class="card-text">text here</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <a class="py-2 px-3 mb-2" href="#"><i class="mr-2 fa fa-calendar" aria-hidden="true"></i> 15 march </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225"  role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

          <div class="card-body">
            <p class="card-text">text here</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <a class="py-2 px-3 mb-2" href="#"><i class="mr-2 fa fa-calendar" aria-hidden="true"></i> 15 march </a>
            </div>
          </div>
        </div>
      </div>
      <aside class="blog-post py-4">
         <div class="container">
              <div class="row">
                <div class="social-links row text-center">
                  <div class="col-sm-4 py-5 primary-color">
                    <a class="social_link w-100">
                      <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                  </div>
                  <div class="col-sm-4 py-5 secondary-color">
                    <a class="social_link w-100">
                      <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                  </div>
                  <div class="col-sm-4 py-5 third-color">
                    <a class="social_link w-100">
                      <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
                <h4 class="aside-heading mt-4 mb-3 pl-2">Popular Authors</h4>
                <article class="row author mb-3">
                    <div class="col-sm-4 py-4">
                      <img class="img-fluid rounded-circle" alt="" src="./img/02.jpg">
                    </div>
                    <div class="author col-sm-8">
                        <h5 class="m-0">John Doe</h5>
                          <p class="m-0">orem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.</p>
                          <p class="m-0">The passage is attributed to an unknown typesetter in the 15th century who is thought to have</p>
                          <div class="social-links">
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
    
                          </div>
                    </div>
                  </article>
                  <h4 class="aside-heading mt-4 mb-3 pl-2">Popular Categories</h4>
                  <div class="badges w-100">
                    <a href="#"> tecnology </a>
                    <a href="#"> Programming </a>
                  </div>
              </div>
         </div>
        </aside>



{% endblock %}

<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    <p class="mb-1">COrp 2022</p>
  </div>
</footer>

  <!--Card Post Layout-->



