{% extends 'base.html' %}
{% block title%} Create your Blog Post{% endblock%}

{% block content %}

{% if user.is_authenticated %}
        <h1> Blogging with me</h1>
        <br/><br/>
        <div class="mb-3">
            <form method="POST">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <button class="btn btn-secondary">Post</button>
       </div>
<!---Function script to display restriction to Post Author-->
       <script>
              var name = "{{ user.id }}";
              document.getElementById("user").value = name;
       </script>
{% else %}
       Please register now or Login
       
{% endif %}
{% endblock %}