{% extends 'base.html' %}

{% block title %} Update Post {% endblock%}
{% block content %}

<div class="bact-img">
{% if user.is_authenticated %}
{% if user.profile.user %}
    <div class="form-post">
        <div class="add-dit-post">
            <h2 class="add-edit-post-title">Update Post</h2>
            <div class="form-group add-edit-post-form">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.media}}
                    {{ form.as_p }}
                    <div class="btn-login">
                        <button type="submit" class="btn btn-create-post">Update Post</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        var name = "{{ user.id }}";
        document.getElementById("identifier").value = name;
    </script>
    {% else %}
    <div class="not-allowed">
        <div class="not-allowed-box">
            <div class="not-loggedin">
                <p>Please, create a profile first.</p>
                <p><a href="{% url 'create_profile_page' %}" class="btn submit-comment btn-submit">Create profile
                </a></p>
            </div>
        </div>
    </div>
    {% endif %}
    {% else %}
       
    <!-- This message will be displayed if user is not logged in -->
    <div class="not-allowed">
        <div class="not-allowed-box">
                <div class="not-loggedin">
                <p>Login first to be able to add a post</p>
                <p><a href="{% url 'login' %}" class="btn submit-comment btn-submit">Login
                    Page</a></p>
                </div>
        </div>
    </div>
   
</div>
{% endif %}


{% endblock %}
