{% extends 'base.html' %}
{% block title%} Delete Post{% endblock%}

{% block content %}

{% if user.is_authenticated %}
<!--Function to give access to the correct user -->
{% if user.id == post.author.id %}
<div class="forms-delete">
    <div class="form-box">
        <h1 class="page-delete"> Delete Post</h1>
 
        <h3 class="delete-post text-center">Delete: {{ post.title }} </h3>
 
        <div class="mb-3">
            <form method="POST">
                {% csrf_token %}
                <div class="text-center"><strong>Are you sure?</strong></div><br />
                <div class="form-btn">
                 <button class="btn btn-delete">Delete</button>
                </div>
            </form>
        </div>
    </div>
   
{% else %}

<div class="not-allowed">
    <div class="not-loggedin">
           <p>Please register now or Login</p>
    </div>

</div>

</div>

{% endif %}
{% endif %}
{% endblock %}

