{% extends 'base.html' %}
{% block title %} My Posts {% endblock%}

{% block content %}

{% if user.is_authenticated %}


<div class="bact-img">
       <div class="forms">
              <div class="container-post-box">
                     <h1 class="page-title">Create your Post</h1>
                     <div class="createpost">
                            <div class="mb-3">
                                   <form method="POST" enctype="multipart/form-data">
                                          {% csrf_token %}
                                          {{ form.media }}
                                          {{ form.as_p }}
                                          <div class="form-btn">
                                                 <button class="btn btn-create-post">Post</button>
                                          </div>
                                   </form>
                            </div>
                     </div>
              </div>
       </div>
       <!---Function script to display restriction to Post Author-->
              <script>
                     var name = "{{ user.id }}";
                     document.getElementById("user").value = name;
              </script>
       {% else %}
       <div class="not-allowed">
              <div class="not-loggedin">
                     <p><a href="{% url 'login' %}">Login Here</a></p>
              </div>
       
       </div>
<div>












       
{% endif %}
{% endblock %}