@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,100&family=Open+Sans:wght@300;400;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Cover Picture*/

.home-container {
    width: 100%;
    display: flex;
    background: #ffc728;
    padding: 50px;
    box-sizing: border-box;
    flex-direction: row;
}

.internalcontainerL {
    flex: 1;
    background: red;
    padding:30px;
    font-size:12px;
    margin: 3px;
}

.internalcontainerM {
    flex: 1;
    background: pink;
    padding:30px;
    font-size:12px;
    margin: 3px;
}

.internalcontainerR {
    flex: 1;
    background: green;
    padding:30px;
    font-size:12px;
    margin: 3px;
}

























/*Media Query*/

/*Content Cover*/

@media screen and (max-width: 768px){
 .home-container {
     flex-direction: column;
 }
}