body{
    font-family: 'Montaga', serif;
    font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4,h5{
    font-weight: 700;
    color:#66FCF1;
}

h3{
    font-size:1.5rem;
}
a, .nav-link{
    color:#66FCF1;
    text-decoration: none;
}

img{
    filter: grayscale(50%) brightness(0.8);
}

img.rounded-circle{
    filter:none;
    border: 2px solid #66FCF1;
}
input{
    background-color: #1F2833 !important;
    color:#66FCF1 !important;
}
/* HEADER */
.navbar{
    background-color:#0B0C10;
    color:#66FCF1;
}
.navbar-logo, .footer_logo{
    font-weight: 700;
    font-size:1.5rem;
    text-decoration: none;
}

.btn-main{
    background-color:#66FCF1 !important;
    color:#0B0C10 !important;
}

/*Post Section*/

.hero-01{
    background-color:#1F2833;
}

.main-post{
    position: relative;
    margin-bottom: 20px;
}

.main-post-badges{
    position:absolute;
    top:10px;
    right:10px;
    font-size:0.8rem;
}

.main-post-badges>a{
    background-color:#0B0C10;
    color:#66FCF1;
    display: block;
}

.main-post-content{
    position: absolute;
    bottom: 10px;
    color:#66FCF1;
}

/*Blog post Section*/

.blog-post{
    background-color:#0B0C10;
    color:#C5C6C7;
}

.post-blog{
    background-color:#1F2833;
}

.post-blog h3{
    font-size:1.4rem;
}

.blog-post img{
    width: 100%;
    height: 100%;
    object-fit:fill;
}
.post-blog p{
    font-size: 0.9rem;
}

.badge > a{
    margin-left: 0.5rem;
    padding: 0.5rem;
    background-color:#535768;
    color:#66FCF1;
    text-decoration: none;

}

.badge{
    margin-top:  1rem;
    margin-bottom: 1rem;
}


/*Social Links*/

.social-link { /*preciso arrumar espaco entre social media&*/
    font-size: 1.5rem;
    background-color:#d9e6e5;
    color:#0B0C10;
    

}

.primary-color {
    background-color:#536070;
}
.secondary-color{
    background-color:#142f50;
    color:#66FCF1;
}
.third-color{
    background-color:#1F2833;
}

.aside-heading{
    border-left:3px solid #66FCF1;
    padding-left: 10px;
}

.author>p {
    text-align: justify;
    font-size: 0.8rem;
}

.author .social-links a{
    margin-left: 0.8rem;
}

.badges>a {
    margin-left: 0.5rem;
    padding: 0.5rem;
    display: inline-block;
    margin:0.2rem;
    padding: 0.5rem;
    background-color:#535768;
    color:#66FCF1;

}

.badges {
    margin-top:  1rem;
    padding-bottom: 1rem;
}


/*Footer*/

footer{
    background-color:#1F2833;
    color:#C5C6C7;
}

.footer input{
    background-color:#0B0C10 !important;
}

.useful_links {
    color:#66FCF1;
    
}

.footer p {
    font-size:0.9rem;
}