body {
    font-family: 'Montaga', serif;
    font-family: 'Montserrat', sans-serif;

}



/*--Nav Bar--*/

a {
    text-decoration: none!important;
}

.navbar-logo {
    font-size: 1.5rem;
    text-decoration: none;
    text-transform:uppercase;
    color: #563329;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.navbar-logo:hover{
    
	color: #E7E1DE;
	
}

.nav-link {
    font-weight: 400;
    text-transform:uppercase;
}

.nav-link:hover{
    color:#E7E1DE!important;
}
/*Post container*/

.author {
    font-size: 14px;
    margin-bottom: 2px;
    color: #bf7070;
    font-weight: 700;
    text-align: center;
}

.card-title {
    margin-top: 1rem;
    line-height: 1.6;
    font-weight: 700;
    color: #fff;
    text-align: center;
    text-transform:uppercase;
    font-size: 20px;
}

.card-title:hover{
    transition: all ease 0.3s;
    color: #bf7070;
}

.banner {
    max-height: 15rem;
    padding-top: 15rem;
    background: url('../img/cover1.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.banner-body {
    background-color: #CCCBCB;
}

.card-body .post-link{
    text-decoration: none;
}


.card-body{
    background-color:#AD9FA4;
    color:#C5C6C7;
    

}


.card-title {
    font-size:1.4rem;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.card-text, p {
    color:#563329;
    text-align: center;
}

    

/*Article Page*/

.text-setion {
    margin-top: 1rem;
    line-height: 1.6;
    font-weight: 700;
    color: #bf7070;
    text-align: center;
    text-transform:uppercase;
    font-size: 20px;
    
}
.card-body-user{
    width: 24rem;
    padding: 1rem;
}
    

.avatar-content img {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.avatar-content {
    padding-top: 30px;
    object-fit: cover;
    
}
.card-text {
    text-align: justify;
}

.lead, p {
    text-align: justify;
    text-justify: inter-word;
}

.sub-title {
    font-style: italic;
}
.small {
    font-weight: 700;
}


.scmedia {
    text-decoration: none;
    font-weight: 700;
    color:#563329;
}

.list-category {
    border-radius: 10px !important;
}
.list-category li {
    list-style-type: none;
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
}

.card-category {
    margin-top: 1rem;
    line-height: 1.6;
    font-weight: 700;
    color: #AD9FA4;
    text-align: center;
    text-transform:uppercase;
    font-size: 20px;
}



.list-category li:hover{
    font-weight: 600;
}

.btn-submit {
    text-align: center;
    margin-bottom: 1rem;
    border: solid 1px #000000;
    padding: 0.5rem 2rem;
    
}
.submit-comment {
    background-color: crimson!important;
    color: #fff!important;
    text-transform: uppercase;
    font-size: 1.2em;
    transition: opacity .3s ease;
    font-weight: 600;
}

.submit-comment:hover {
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75)!important;
}
.like-btn1 {
    border-radius: 50%;
    background-color:rgba(38,166,154 ,0.3);
	border-color: rgba(0,150,136 ,1);
    border:none;
}

.like-btn1:hover {
    background-color: rgba(25, 104, 96, 0.3);
}

.like-btn2 {
    border-radius: 50%;
    background-color: rgba(255,138,128 ,0.3);
	border-color: rgba(255,82,82 ,1);
    border:none;
}

.like-btn2:hover {
    background-color: rgba(185, 17, 17, 0.521);
}

/*Comment Section*/

.comment-header {
    color:#563329;
    text-align: center;
    text-transform: uppercase;
}
.comment-bttm-box {
    padding-bottom: 10px;
    background-color: #E7E1DE;
}

.pagination a {
    text-decoration: none;
    margin-bottom: 3rem !important;   
    color: #947262!important;
    font-weight: 400!important;
}

.page-link {
    margin:3px !important;
}

/*Footer*/

.logo-bttm {
    display: flex;
    justify-content: center;
    
}

.social-media-links {
    display: flex;
    justify-content: center;
}


.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    color: white;
    text-decoration: none;

}


.pagination a {
    text-decoration: none;
    color: white;

}




.fa {
    padding: 1rem;
    color: #6c757d !important;
}

.fa:hover {
transform: translateY(-4px);
transition:0.3s;
}


.aside-heading{
    border-left:3px solid #66FCF1;
    padding-left: 10px;
}

.author>p {
    text-align: justify;
    font-size: 0.8rem;
}

.author .social-links a{
    margin-left: 0.8rem;
}

.badges>a {
    margin-left: 0.5rem;
    padding: 0.5rem;
    display: inline-block;
    margin:0.2rem;
    padding: 0.5rem;
    background-color:#535768;
    color:#66FCF1;

}

.badges {
    margin-top:  1rem;
    padding-bottom: 1rem;
}

/*Add Category*/
.forms-cat {
    padding: 7.2rem 25rem;
    text-align: center;
    width: 127%;

}

.backgr-ct {
    position: relative;
    height: 118vh;
    width: 100%;
    background: url('../img/login-bck.jpg');
    background-size: cover;
    background-position: center center;
}

.btn-category {
    background-color: crimson;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2em;
    transition: opacity .3s ease;
    outline: none;
    width: 88%;
    display: block;
    padding: 10px;
    border:none;
    margin: 1em 0;
    margin-left: 1rem;
    font-weight: 600;
}

.btn-category:hover {
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}

.forms-cat label {
    color: #C5C6C7;
    margin-left: 25px;
}

.forms-cat input {
    margin: 1rem;
}

@media(max-width:800px) {
    .forms-cat{
        margin: auto;
        width: 103vh;
    }
}

@media(max-width:320px) {

   

    .forms-cat{
        padding: 1rem;
        margin: auto;
        width: 315px;
    }
}

/*Add a Post*/

.bact-img {
    position: relative;
    height: 132vh;
    width: 100%;
    background: url('../img/Brazil.jpg');
    background-size: cover;
    background-position: center center;
}

.page-title {
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
    margin-bottom: 2em;
    color: #fff;
}

#id_category {
    width: 86%;
}

.forms {
    padding: 1rem 16rem;
}


.form-post text {
    margin-left: 0px;
}
.form-post {
  width: 60%;
  margin-left: 10rem;
  padding-top: 4rem;
  
}

.form-post label {
    color: #C5C6C7;
    margin-left: 1.5rem;
}

.post-title {
    margin: 1rem;
    text-align: center;
    text-transform: capitalize;
}

#id_header_img {
   font-weight: 700;
}

#cke_id_body {
    width: 83%!important;
    margin-left: 2rem!important;
}



.form-btn {
    text-align: center;
    
}
.btn-create-post {
    background-color: crimson!important;
    color: #fff!important;
    text-transform: uppercase;
    font-size: 1.2em;
    transition: opacity .3s ease;
    outline: none;
    width: 50%;
    display: block;
    padding: 10px;
    border:none;
    margin: 1em 0;
    font-weight: 600!important;
}

.btn-create-post:hover {
    transition: all .4s ease-in-out!important;
    background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19)!important;
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75)!important;
}
.form-btn button {
    padding: 0.3rem 2rem;
}

@media(max-width:800px) {

    .bact-img {
    height: 144vh;
    width: 100%;
    }

    .form-post {
        width: 67%;
    }

}

@media(max-width:320px) {

 .bact-img{
    height: 326vh;
    width: 100%;
 }

 .bact-post{
    height:132vh;
 }
  
 .form-post {
    width: 73%;
    margin-left: 3rem;
    padding-top: 5rem;
 }

 #cke_id_body {
    width: 40%!important;
    
 }

 #id_title {
    width: 86%!important;
}

}



/*Register*/
.register-txt {
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
    margin-bottom: 2em;
    color: #fff;
}



.form-register form label {
    padding-bottom: 0.5rem;
    color: #C5C6C7;
}

.form-register ul li {
    font-size: 0.8rem;
}

.register {
    box-shadow: 7px 7px 60px #000!important;
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
}
.submit-btn {
    background-color: crimson!important;
    color: #fff!important;
    text-transform: uppercase;
    font-size: 1.2em;
    transition: opacity .3s ease;
    outline: none;
    width: 100%;
    display: block;
    padding: 10px;
    border:none!important;
    margin: 1em 0;
    font-weight: 600!important;
}

.submit-btn:hover{
    transition: all .4s ease-in-out!important;
    background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19)!important;
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75)!important;
}

.main-register {
    margin:auto;
    padding-bottom: 9rem;
    padding-left: 1rem;
    padding-right: 0rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.main-register label {
    color: rgb(245, 234, 234);
}

.mb-0 {
    color:rgb(245, 234, 234)!important;
}

/*Login and Register Form*/

.login-register-main {
    padding-top: 2rem;
    padding-bottom: 2rem;

}

.login-register {
    background: url('../img/ireland.jpg');
    background-size: cover;
    background-position: center center;
    position: relative;
    height: 100vh;
    width: 100%;
}

.reg-form {
    background: url('../img/ireland.jpg');
    background-size: cover;
    background-position: center center;
    position: relative;
    height: 129vh;
    width: 100%;
}




.card-login {
    padding: 21px 30px!important;
}
/*Change password*/

.password-bck {
    position: relative;
    height: 100vh;
    width: 100%;
    background: url('../img/login-bck.jpg');
    background-size: cover;
    background-position: center center;
}
.forms-1 {
    padding: 1rem 25rem;
}

.form-box-2 {
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

 
@media(max-width:400px) {
    .forms-1  {
        padding: 2rem 1rem;
    }
 
    .text-center {
        font-size: 1rem;
    }
}


/*Not allowed*/

.not-img {
    background-color: #947262;
    height: 200vh;
}

.not-loggedin {
    background-color: #AD9FA4;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 2rem;
}

.not-loggedin p {
    text-align: center;
    font-weight: 700;
}

.not-allowed-box {
    background-color: #947262;
    height: 200vh;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    padding: -1rem;
}

.not-allowed-box p {
    text-align: center;
    font-weight: 700;
}




/* Delete Post */
 
.forms-delete {
    padding: 4rem 25rem;
    background-color: #AD9FA4;
    height:120vh;
}

.page-delete {
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
    margin-bottom: 2em;
    color: #fff;
}

.btn-delete {
    background-color: crimson!important;
    color: #fff!important;
    text-transform: uppercase;
    font-size: 1.2em;
    transition: opacity .3s ease;
    outline: none;
    width: 50%!important;
    display: block;
    padding: 10px;
    border:none;
    margin: 1em 0;
    font-weight: 600!important;
}
 
.btn-delete:hover {
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}
.delete-post {
    padding-bottom: 1rem;
    padding-top: 1rem;
}
 
.text-center {
    text-align: center;
    font-size: 1.3rem;
 
}
 
@media(max-width:1024px) {
    .forms-delete {
        padding: 4rem 15rem;
    }
}
 
@media(max-width:800px) {
    .forms-delete {
        padding: 4rem 10rem;
    }

    .comment-bgd {
        height: 133vh;
    }
}
 
@media(max-width:500px) {
    .forms-delete {
        padding: 2rem;
    }
}
 
@media(max-width:400px) {
    .forms-delete {
        padding: 2rem 1rem;
    }
 
    .text-center {
        font-size: 1rem;
    }

    .comment-bgd{
        height:136vh;
    }
}




.comment-bgd{
    position:relative;
    height: 100vh;
    width: 100%;
    background: url('../img/mountain.jpg');
    background-size: cover;
    background-position: center center;
   
  
}

.form-box {
    padding: 21px 30px!important;
}

.form-btn .secondary{
    background-color: crimson;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2em;
    transition: opacity .3s ease;
    font-weight: 600;
    margin: 8px;
    outline: none;
}

.form-btn .secondary:hover{
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);

}

.form-box {
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
    box-shadow: 7px 7px 60px #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 327px;
    padding: 50px 30px;
}

.comment-title{
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
    margin-bottom: 2em;
    color: #fff;
}

/*User Profile*/

.main-profile {
    position:relative;
    height: 120vh;
    width: 100%;
    background: url('../img/mountain.jpg');
    background-size: cover;
    background-position: center center;
    
}

.profile-form {
    padding-left: 5rem;
    padding-right: 20rem;
    padding-top: 2rem;
}

.main-profile form label  {
    color: #efefef;
   
}

.text-profile {
    text-align: center;
    margin-top: 1rem;
}

.image img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}



.name, .last-name {
    font-size: 22px;
    font-weight: bold
}

.text span {
    font-size: 20px;
    color: #545454;
    font-weight: 500;
}


/*Setting Page*/

.edit-section{
    position:relative;
    height: 100vh;
    width: 100%;
    background: url('../img/ireland.jpg');
    background-size: cover;
    background-position: center center;
}

.form-edit-acc form label {
    color: #C5C6C7;
}

.helptext {
    color:#efefef;
    font-size: 0.8rem;
}

.btn-edit{
    background-color: crimson!important;
    color: #fff!important;
    text-transform: uppercase;
    font-size: 1.2em;
    transition: opacity .3s ease;
    outline: none;
    width: 100%;
    display: block;
    padding: 10px;
    border:none;
    margin: 1em 0;
    font-weight: 600!important;
}

.btn-edit:hover{
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}

/*Edit Page Profile*/

.edit-section {
    padding: 35rem 16rem;
}

.form-box{
 padding: 21px 30px!important;
}

#id_profile_picture {
    color:#efefef;
    font-weight: 400;
}




/*Edit Post*/

.update-box {
    height: fit-content;
}

.update-box label {
    color:#C5C6C7;
    margin-left: 1rem;
}


.update-bct {
    position:relative;
    height: 40vh;
    width: 60%;
    padding-top: 2rem;
    background: url('../img/mountain.jpg');
    background-size: cover;
    background-position: center center;
}

.btn-secondary {
    background-color: crimson!important;
    color: #fff!important;
    text-transform: uppercase;
    font-size: 1.2em;
    transition: opacity .3s ease;
    outline: none;
    width: 30%;
    display: block;
    padding: 10px;
    border:none;
    margin: 1em 0;
    font-weight: 600!important;
    border: none!important;
}

.btn-secondary:hover {
    transition: all .4s ease-in-out!important;
    background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19)!important;
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75)!important;
}

/*alert*/

.alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    max-width: 480px;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 0rem;
    background-color: #bf7070;
    color: #c71d2b;
}



@media(max-width:2560px) {



    .formupdate {
        width:70%;
        margin: auto;
        margin-top:0rem;
    }

    #cke_id_body {
        width: 92%;
    }

    textarea {
        width: 92%!important;
        height: 120px!important;
    }

    #id_title {
        width: 86%;
        margin-left: 21px;
    }

    #cke_1_contents {
        height: 256px;
    }


    #id_category {
        width: 86%;
        margin-left: 21px;
    }

    #id_title_tag {
        width: 82%;
        margin-right: 1rem;
    }

   

    footer {
        font-size: 12px;
        color: #bf7070;
        font-weight: 700;
    }
} 




@media(max-width:1024px) {

    .social-media-links {
        padding-right: 124px;
    }
    
    .page-title {
        padding: 50px;
        width: 98%;
    }
    
    .formupdate {
        width:70%;
        margin: auto;
        margin-top:0rem;
    }

   
    #cke_id_body {
        width: 50%;
    }

    textarea {
        width: 92%!important;
        height: 120px!important;
    }

    #id_title {
        width: 86%;
    }

    #id_title_tag {
        width: 82%;
    }
}

@media(max-width:800px) {
   
    #id_title {
        width: 86%;
    }

    #id_title_tag {
        width: 82%;
        margin-left: 1rem;
    }

    .page-title {
        padding-top: 10px;
    }

    .formupdate {
        margin: 57px;
    }


    .comment-bgd {
        height: 114vh;
    }

    .form-box {
        width: 362px;
        height: 81vh;
    }

    textarea {
        width: 92%!important;
    }
}

@media(max-width:500px) {
    
    .page-title {
        padding-top: 10px;
    }
    .formupdate {
        margin: 57px;
    }
    .btn-secondary {
        width: 80%;
    }

    .logo-bttm {
        margin-right: 58px;
    }
    
    
    
    footer {
        font-size: 12px;
        width: 500px;
        color: #bf7070;
        font-weight: 700;
    }

    .main-profile {
        height: 224vh;
        width: 111%;
    }
    .profile-form{
        width: 39rem;
    }

    .profile-form label {
        padding-bottom: 0.5rem;
    }

    

    .profile-form .align-items-center{
        margin-top: 39px!important;
        margin-right: 7px!important;
    }
}

@media(max-width:400px) {
    .reg-form {
        height: 189vh;
        margin-top: -8px;
    }
 
}

@media(max-width:320px) {
    

    .page-title {
        padding-top: 10px;
    }

    #cke_id_body{
        margin:auto;
    }

    #id_title {
        width: 100%;
    }

    #id_title_tag {
        width: 100%;
    }

    .formupdate {
        margin: 10px;
    }

    textarea{
        resize: horizontal;
    }

    
    label {
        margin: 10px;
    }


    .comment-box {
        height: 137vh;
        width:100%;
        margin-left: 17px;
    }

    .comment-bgd {
        height: 159vh;
    }

    .form-comment {
        width: 88%;
    }

    .btn-secondary {
        width: 80%;
    }

    .logo-bttm {
        margin-right: 19px;
        width: 290px;
    }
    
    footer {
        font-size: 11px;
        width: 342px;
        color: #bf7070;
        font-weight: 700;
    }

    
}

