{% extends 'base.html' %}
{% block title%} Change Password{% endblock %}

{% block content %}

<div class="edit-section">
    <div class="form-edit">
        <div class="card bg-dark text-white">
            <h1 class="page-title"> Change Password</h1>
            <br /><br />
            <div class="mb-3">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="form-btn">
                        <button class="btn btn-edit">Change Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

