{% extends 'base.html' %}
{% block title%} Create Profile Page{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<div class="edit-section">
       <div class="form-edit">
           <div class="card bg-dark text-white">
               <h1 class="page-title"> Create Profile</h1>
               <br /><br />
               <div class="mb-3">
                   <form method="POST" enctype="multipart/form-data">
                       {% csrf_token %}
                       {{ form.as_p }}
                       <div class="form-btn">
                           <button class="btn btn-edit">Create Profile</button>
                       </div>
                   </form>
               </div>
           </div>
       </div>
   </div>
{% else %}
<div class="not-allowed">
       <div class="not-loggedin">
              <p>Please register now or Login</p>
       </div>

</div>
       
{% endif %}
{% endblock %}
