{% extends 'base.html' %}
{% block title%} Login{% endblock %}
{% load static %}

{% block content %}
<!--notification for wrong input-->
<div class="login-msg-banner">
  <div class="login-user">
      {% if form.errors %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          There was an error with your access... Please try again!
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endif %}
        
  </div>
</div>
<div class="login-page">
  <div class="form-container">
      <h1 class="login-txt"> Login Form </h1>
      <form method="POST">
        {% csrf_token %}
        <div class="control">
          <label for="text"> Username</label>
          <input type="text" class="form-control" id="text" aria-describedby="text" name="username">
        </div>
        <div class="control">
          <label for="InputPassword1"> Password</label>
          <input type="password" class="form-control" id="InputPassword1" name="password">
        </div>
        <div class="control">
          <input type="submit" value="login">
        </div>
      </form>
      <div class="link">
        Not a User? <a href="{% url 'register' %}" >Register Now</a>
      </div>
  </div>
</div>

<!--End Login box-->
{% endblock %}