{% extends 'base.html' %}


{% block title %} Password Updated {% endblock%}
{% block content %}
<div class="login-password-main">
    <div class="password-section">
        <div class="success-box">
            <div class="success-password">
                <p>Your password was changed successfully!</p>
                <p>Back to <a href="{% url 'index' %}" class="btn submit-comment btn-submit">Home
                    Page</a></p>
            </div>
        </div>
    </div>
</div>


{% endblock %}