{% extends 'base.html' %}
{% load static %}
{% block content %}



<div class="profile-section">

 <div class="user-profile">
    <div class="user-card p-4">
        <div class=" image d-flex flex-column justify-content-center align-items-center">
            {% if "placeholder" in user_page.profile_picture.url %}
            <img src="https://www.odeliver.net/images/members/default.png" class="img-default" alt="default-pic">
             {% else %} 
            <img src="{{user_page.profile_picture.url}}" alt="profile pic"/>
            {% endif %}        
            <span class="name mt-3">{{ user_page.user.first_name }}</span> <span class="idd">{{ user_page.user.last_name}}</span>
            <span>{{user_page.bio}}</span> 
            <div class="text mt-3"> 
              
            
                {%if user_page.facebook_url %}
                <a href="{{user_page.facebook_url}}" target="_blank"><i class="fa fa-facebook-f"></i></a> |
                {% endif %}

                {%if user_page.instagram_url %}
                <a href="{{user_page.instagram_url}}" target="_blank"><i class="fa fa-instagram"></i></a> | 
                {% endif %}

                {%if user_page.twitter_url %}
                <a href="{{user_page.twitter_url}}" target="_blank"><i class="fa fa-twitter"></i></a> |
                {% endif %}

                {%if user_page.website_url %}
                <a href="{{user_page.website_url}}" target="_blank"><i class="fa fa-rss"></i></a> |
                {% endif %}
            </div>
        </div>
    </div>
  </div>
</div>
    
{% endblock %}
